
.header_home {
    background-color: #FFEEF7;
}

header,footer, main{
    padding: 30px 50px;
}


.header_home,.header_aboutus,.header_reviews{
    height: 680px;
}

.header_reviews,.header_new,.main_new{
    background: #EEF6E6;
}

.user{
    font-family: sans-serif;
}

.main_new{
    height: 800px;
}

.new_img{
    display: flex;
    width: 130px;
    justify-content: start;
    margin: 5px 10px;
}

.boquet_name{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1E1E1E;
}

.boquet_description{

    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.buy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background: #BEEE8F;
    border-radius: 6px;
    width: 50px;
    height: 10px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #1E1E1E;
    text-decoration: none;
    margin-top: 20px;
}

.avatar{
    display: flex;
    float: left;
    margin-right: 20px;
    border-radius: 100%;
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

.date{
    margin-top: -10px;
    color: #565656;
    font-size: 13px;
}

.header_href {
    display: flex;
    display: inline;
    flex-direction: row;
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    font-size: 27px;
    color: #000000;
    padding-right: 50px;

}

.head_png {
    margin-top: -50px;
    display: flex;
    float: right;
    width: 45%;

}


.h_header {
    margin-top: 50px;
}

.head_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
}

.h2_header {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 26px;
    color: #312F0D;
    font-family: sans-serif;
}

.h1_header {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 66px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #312F0D;
}

.p_header {

    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #312F0D;


}

.description {
    margin-top: 140px;

}

.flowers_jpg {
    float: left;
}

.aboutus_text {
    display: flex;
    flex-direction: column;
    align-items: right;
    padding-left: 50px;
    width: 50%;
}

.h1_reviews,.h1_catalog{
    margin-top: 90px;
}

.h1_aboutus,.h1_contacts,.h1_reviews,.h1_new,.h1_catalog{
    display: flex;
    justify-content: start;
    font-size: 35px;
    color: #1b291d;
}

.delivery {
    padding-top: 100px;
}

.delivery_text {
    width: 50%;
}

.delivery_jpg {
    display: flex;
    float: right;
    width: 48%;
    height: 450px;
    margin-top: 50px;
}

.h1_delivery{
    display: flex;
    justify-content: start;
    font-size: 35px;
    color: #1b291d;
}

.b_delivery {
    font-size: 25px;
}

.p_delivery {
    font: 1em sans-serif;
    font-size: 20px;
    color: #1b291d;
    font-style: italic;
}

.p_aboutus {
    font: 1em sans-serif;
    font-size: 23px;
    color: #1b291d;
}

.reviews_container{
    margin-top: 50px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.review{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 8px;
}

.review_profile{
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    flex-direction: row;
}

.review_h1{
    font-family: sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex: none;
    align-self: stretch;
}

.new_card_text{
    display: flex;
    flex-direction: column;
}

.boquet{
    display: flex;
    width: 80%;
    height: 180px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 50px;
    justify-content:start;
}


.buy2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background: #FAB0D8;
    border-radius: 6px;
    width: 70px;
    height: 20px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #1E1E1E;
    text-decoration: none;
    float: right;
}

.text-card{
    width: 260px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.text-card2{
    font-family: sans-serif;
}

.card{
    background-color: #FFEEF7;
    width: 260px;
    height: 450px;
    border-radius: 6px;
    padding: 20px;
    margin-top: 40px;
}

.price-card{
    height: 22px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    float: left;
}

.card-img{
    display: flex;
    width:260px;
    height:250px;
}

.container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;
    position: relative;
    width: 100%;

}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.vert-menu {
    margin-top: 40px;
    list-style-type: none;
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}


.footer-elements-first {
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.footer-elements {
    margin-left: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #686868;
    text-decoration: none;
}

.footer-elements:hover {
    border-bottom: 2px solid #013a10;
    width: fit-content;
}

footer{
    height: 500px;
}
